<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>W7K7UFaD+fuE60/0slhp/eIhJqDrLa/hfd5KbLQCghEG3J14kJ/BvykJs1tgZbRTaImP0QlzugGcpsniBkNS0Hs7BTnNLM6/NrK4dTIVGUob8VL1791JvrabydLgUJwTbnY6O8xOoV+NADDZUFpjnUJ4yr37gUBxfCfXvj/L1fI=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>yG04tq9w+udEbu99YTp/vh5OQaBIdYLEjzSZtFUNgDo=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>