<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>MV+o20ld+NwCqz6vPaHS/Bgjp6OFZPBeDd4synKkY1knZ3W+OV47gQTvVGZvmETJJ1K5z3PiEyrLDnshK73b6ITw64Hr0R4a+xQZxNhbjHb647wrJ9pBHagj1pyx4VmBjcI3QEKaXcrOeFAFpHlyoB5XrHK12vVxVkW+xSTM8kM=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>HnT28eNOlROThPB3VUKolzuCombI3nT+S96ZQZhpBr8=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>